.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: 30px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    background-color: hsl(212, 45%, 89%);
}

#card {
    margin: auto;
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
    text-align: center;
    font-family: Outfit;
    padding: 17px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 17px;
    box-shadow: 0px 2px 30px 1px rgba(0, 0, 0, 0.1);
}

#card-heading {

}

#card-p {
    font-size: 15px;
}

#card-img {
    width: 350px;
    border-radius: 17px;
}